.title {
    color: #EAE9EC;
    font-size: 25px;
    padding-bottom: 10px;
    font-family: 'Titillium Web', sans-serif;
}

.song-details {
    color: #EAE9EC;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
