@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.WelcomeBackground {
  height: 100vh;
  background: linear-gradient(100deg, #590303, #147504, #053177, #590303);
  background-size: 400% 400%;
  animation: gradient 20s alternate-reverse infinite;
}

.WelcomePage {
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: #EAE9EC;
  font-family: 'Grandstander', cursive;
  font-size: 150px;
}

.Footer {
  color: #EAE9EC;
  position: absolute;
  bottom: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 93vw;
  font-family: 'Titillium Web', sans-serif;
}