.Feedback {
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  background-color: #383838;
  border: #919191 solid 1px;
  border-radius: 5px;
  color: #EAE9EC;
  width: 55%;
  padding: 10px;
  margin: 5px;
}

.Comment{
  margin: 10px;
  word-break: break-word;
}

.Mark{
  margin: 7px;
  padding: 3px;
  border-bottom: #801313 solid  1px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: x-large;
}